[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
vault_program = "D3ioGqnnBE4CkW7TN3Cb7Va2BG1sb4VE5vk5KKYoogwx"

[programs.devnet]
vault_program = "D3ioGqnnBE4CkW7TN3Cb7Va2BG1sb4VE5vk5KKYoogwx"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
